body {
    width: 100%;
    nav {
        top: 0;
        position: sticky;
        padding-left: 20px;
        display: flex;
        height: 80px;
        background: black;
        .n-logo {
            width:250px;    
        }
        img{
            
            width: 200px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
            justify-content: space-between;
        }
        
        li {
            float: right;
            a {
                display: block;
                color: white;
                text-align: center;
                margin: 30px;
                text-decoration: none;
            }
        }
    }
}